body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,
p {
  display: block;
  margin-bottom: 5px;
  font-size: 23px;
}

input,
#tResult {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  color: #1c58f1;
  font-size: 18px;

}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

button {
  text-decoration: none;
  background-color: #1c58f1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;

}

.img_teo{
  width: 90%;
  display: inline-flex;
  margin: 0 auto;
}
.teo{
  width: 40%;
  height: 70%;
}
#result {
  margin-top: 20px;
}

canvas {
  margin-top: 20px;
}

h1,
.sec_tit {
  color: #1c58f1;
  text-align: center;
  
}
.all_tit{
  border-bottom: #1c58f1 3px solid;
  border-top: #1c58f1 3px solid;
  margin-bottom: 100px;
}
.atmos img {
  width: 90%;
  margin:20px 0;
  height: 600px;
}

.atmos_txt {
  font-size: 40px;
  text-align: center;
  color: #1c58f1;
}

.main_txt {
  text-align: center;
  color: #e70b0b;
}
.formul{
  display: inline-flex;
  margin-left: 130px;
}
.formul img{
  width: 200px;
  margin-right: 20px;
}
h4{
  font-size: 25px;
  margin-left: 170px;
}
.about_txt{
  max-width: 1000px;
  text-align: center;
  margin-left: 200px;
}
.main_l,
.main_r{
  width: 50%;
}
.main_l img,
.main_r img{
  margin-left: 100px;
}
.txt{
  margin-left: 100px;
  max-width: 400px;
}
.btn{
  text-decoration: none;
  background-color: #1c58f1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
}
header,
footer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.grad{
  display: inline-flex;
  margin: 20px;
}
.txt1{
  margin-left: 95px;
}
